# The Docker .env should not be in the repo as it contains passwords etc.
.env

# Ignore the database data directories
docker/data

# Ignore the virtual environment directory (common variations)
.venv
venv

# Python intermediate files
__pycache__
.idea

# Coverage files
.coverage
